* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: myFont;
  src: url("./assets/Raleway-Bold.ttf");
}
@font-face {
  font-family: myFont1;
  src: url("./assets/Gilroy-Bold.ttf");
}

@font-face {
  font-family: myFont2;
  src: url("./assets/Poppins-Light.ttf");
}
@font-face {
  font-family: myFont3;
  src: url("./assets/Poppins-Regular.ttf");
}
/* @font-face {
    font-family: myFont4;
    src: url("./assets/");
  } */
  body{
    font-family: Poppins-Regular;
  }
.Registration_Section {
  /* background-image: url("/assets/1x/Bg.jpg"); */
  background: black;
  overflow: hidden;
  background: -webkit-linear-gradient(
      rgba(22, 22, 24, 0.8),
      rgba(39, 35, 36, 0.8)
    ),
    url("/assets/1x/Asset\ 48.png");
  height: 90vh;

  background-size: cover;
}

/* .Registration_Section > h1 {
    font-size: 3.7rem;
  
    position: relative;
    top:71%;
    left: 71%;
    font-family: myFont;
    transform: translate(-50%, -50%);
  }
  .Registration_Section > h2 {
    font-size: 3.7rem;
    line-height: 3.7rem;
    position: absolute;
    top: 80%;
    left: 71%;
    font-family: myFont;
    transform: translate(-50%, -50%);
  } */
section {
  background-color: #e1e0e0;

  /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
nav {
  background-color: #29285e;
}

section > h1 {
  font-size: 4.5rem;
  color: #29285e;
}

.paragraph {
  color: #29285e;
}
.square1 {
  background-color: orange;
}
.pvt_Image1 {
  z-index: 1;
  left: 14%;
}

.square2 {
  background-color: orange;
}
.pvt_Image2 {
  z-index: 1;
  left: 14%;
}

.square3 {
  background-color: orange;
}
.pvt_Image3 {
  z-index: 1;
  left: 16%;
}
.button-class {
  background-color: #4857a3;
  color: white;
}
.left_for_Info > h1 {
  color: #29285e;
}

.services {
  color: #29285e;
}
button {
  color: #29285e;
}
.form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -10%);
  background-color: #f8dcb1;
}

footer {
  background-color: #29285e;
  color: white;
}
.image_square {
  background-color: orange;
}
.image {
  z-index: 1;
  left: 14%;
}

/* for mobile navigation bar */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
  display: block;
}
.sub-dropdown {
  position: relative;
}

.sub-dropdown-content {
  display: none;
  position: absolute;

  left: 100%;
  top: 0;
  padding: 0.2rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
